<?xml version="1.0"?>
<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base">
    <rosparam file="$(find tracking_navigation)/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tracking_navigation)/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tracking_navigation)/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find tracking_navigation)/launch/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tracking_navigation)/launch/base_local_planner_params.yaml" command="load" />
	<remap from="map" to="pioneer/map"/>
  </node>

  <node name="velocity_refactoring" type="velocity_refactoring.py" pkg="tracking_navigation" output="screen"/>

</launch>
